/**
 * Disable animations.
 * Explanation: https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites.
*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; // Override normalize.css
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

:focus {
  outline: none; // To set custom outline
}
